$nav-menu-bg-color: #191921;
$nav-menu-border-color: #707070;
$profile-card-bg-color: #292934;
$inpage-bg-color: #22222D;
$yellow: #ffca05;

$default-layout-padding-y: 1rem;

$menu-link-dimension: 4.5rem; //height & width
$menu-list-item-padding-y: .75rem;
$menu-list-item-vertical: $menu-link-dimension+($menu-list-item-padding-y * 2);
$number-of-menu-items: 3;

// transparent circle indicator on desktop
$menu-indicator-radius: calc($menu-list-item-vertical / 2);

$profile-card-pp-dimension: 150px;
