$nav-menu-bg-color: #191921;
$nav-menu-border-color: #707070;
$profile-card-bg-color: #292934;
$inpage-bg-color: #22222D;
$yellow: #ffca05;

$default-layout-padding-y: 1rem;

$menu-list-item-dimension: 4.5rem; //height & width
$menu-list-item-margin-y: .5rem;

// transparent circle indicator on desktop
$menu-indicator-diameter: calc($menu-list-item-dimension / 1.5);

$profile-card-pp-dimension: 150px;
