@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $nav-menu-border-color;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: transparent;
}

// project-wide transition
a,
a::after {
  transition: all .2s ease;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.75rem;
  margin-bottom: 1rem;

  span {
    position: relative;

    &::after {
      position: absolute;
      content: '';
      height: .25rem;
      width: 1.25rem;
      bottom: 2px;
      right: -1.5rem;
      background-color: $yellow;
    }
  }
}

main {
  height: auto;
  width: 100%;
  min-height: 100vh;

  &>section {
    margin-bottom: 3rem;
  }
}
