$nav-menu-bg-color: #191921;
$nav-menu-border-color: #707070;
$profile-card-bg-color: #292934;
$inpage-bg-color: #22222D;

$menu-list-item-dimension: 4.5rem; //height & width
$menu-list-item-padding: .5rem;
$menu-list-item-margin-y: .5rem;
